<%- include('partials/base.ejs') %>

<body>
  <div class="container mt-5">
    <div class="row d-flex f-card-deck justify-content-center">
      <div class="col-sm-3 d-flex align-items-stretch">
        <div class="card f-col-1 f-card f-position-relative" onclick="window.location.href='/enrollment'">
          <img class="f-icon" src="/assets/form.svg" alt="" srcset="">
          <div>
            <div class="card-body text-center">
              <h5 class="card-title f-title-font f-col-1">Form</h5>
              <p class="card-text f-text-color">Access and fill out the enrollment form.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 d-flex align-items-stretch">
        <div class="card f-col-2 f-card f-position-relative" onclick="window.location.href='/settings'">
          <img src="/assets/settings.svg" class="f-icon" alt="" srcset="">
          <div class="card-body text-center">
            <h5 class="card-title f-title-font">Settings</h5>
            <p class="card-text f-text-color">Manage settings and configurations.</p>
          </div>
        </div>
      </div>

    </div>
    <div class="row d-flex f-card-deck justify-content-center my-3">
      <div class="col-sm-3 d-flex align-items-stretch">
        <div class="card f-col-2 f-card f-position-relative" onclick="window.location.href='/search'">
          <img class="f-icon" src="/assets/search.svg" alt="" srcset="">
          <div class="card-body text-center">
            <h5 class="card-title f-title-font">Search</h5>
            <p class="card-text f-text-color">Search through the database for specific records.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 d-flex align-items-stretch">
        <div class="card f-col-1 f-card f-position-relative" onclick="window.location.href='/import'">
          <img class="f-icon" src="/assets/upload.svg" alt="" srcset="">
          <div class="card-body text-center">
            <h5 class="card-title f-title-font f-card-col-1">Import Data</h5>
            <p class="card-text f-text-color">Import data from Excel files into the database.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>

<style>
  
  .f-icon {
    height: 100px;
    width: 100px;
  }
  
  .f-title-font {
    font-family: sans-serif;
    font-weight: 900;
    color: #E4E4E4;
    font-size: 1.5rem;
  }

  .f-text-color {
    color: #e4e4e4;
  }

  .f-col-1 {
    background-color: #832BCF;
  }

  .f-col-2 {
    background-color: #753EA5;
  }

  .f-col-3 {
    background-color: #8B0BFB;
  }

  .f-col-4 {
    background-color: #60427A;
  }

  .f-card-deck {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

  }

  .card {
    height: 300px;
    /* background-color: #FB5B6B */
  }

  .f-card {
    flex: 1 1 auto;
    width: 400px;
    height: 250px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.2s;
    overflow: hidden;
  }

  .f-card:before {
  content: '';
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  filter: blur(1px);
  opacity: 1;
  transition: opacity 0.6s;
  z-index: 0; /* Ensures the blur circle is behind the icon */
}

  .f-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .f-card:hover:before {
  opacity: 1;
}

  .f-position-relative {
    position: relative;
  }
</style>

<script>
  $(document).ready(function() {
    $('#generatDummyData').click(function(e) {
      e.preventDefault();
      $.ajax({
        url: '/generate-dummy',
        method: 'GET',
        success: function(response) {
          if (response.success) {
            alert(`Dummy data generated successfully.`);
          } else {
            alert(`There was some errors generating data. Errors: ${response.errors}`);
          }
        },
        error: function(err) {
          alert(`Received Errors: ${err}`);
        }
      })
    })

    $('.f-card').hover(
    function() {
      $(this).find('.f-icon').css({
        'transform': 'rotate(10deg)',
        'transition': 'transform 0.3s ease'
      });
    },
    function() {
      $(this).find('.f-icon').css('transform', 'rotate(0deg)');
    }
  );
  })
</script>
