<%- include('partials/base.ejs') %>
<body>
  <div class="container mt-5">
    <div class="row d-flex justify-content-center my-5">
      <div class="col-sm-3">
        <div class="card" onclick="window.location.href='/enrollment'">
          <div class="card-body text-center">
            <h5 class="card-title">Form</h5>
            <p class="card-text">Access and fill out the enrollment form.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card" onclick="window.location.href='/settings'">
          <div class="card-body text-center">
            <h5 class="card-title">Settings</h5>
            <p class="card-text">Manage settings and configurations.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card" onclick="window.location.href='/search'">
          <div class="card-body text-center">
            <h5 class="card-title">Search</h5>
            <p class="card-text">Search through the database for specific records.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card" onclick="window.location.href='/import'">
          <div class="card-body text-center">
            <h5 class="card-title">Import Data</h5>
            <p class="card-text">Import data from Excel files into the database.</p>
          </div>
        </div>
      </div>
      <!-- <div class="col-sm-3">
        <div class="card" id="generatDummyData">
          <div class="card-body text-center">
            <h5 class="card-title">Generate Dummy Data</h5>
            <p class="card-text">Generate dummy data for testing purposes.</p>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</body>
</html>

<style>
  .card {
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
</style>

<script>
  $(document).ready(function() {
    $('#generatDummyData').click(function(e) {
      e.preventDefault();
      $.ajax({
        url: '/generate-dummy',
        method: 'GET',
        success: function(response) {
          if(response.success) {
            alert(`Dummy data generated successfully.`);
          } else {
            alert(`There was some errors generating data. Errors: ${response.errors}`);
          }
        },
        error: function(err) {
          alert(`Received Errors: ${err}`);
        }
      })
    })
  })
</script>
