<%- include ('partials/base.ejs') %>
<body>
  <div class="container mb-5">
    <div class="d-flex justify-content-center my-3">
      <div class="row">
        <div class="col-sm mx-4">
          <a href="/enrollment" class="btn btn-outline-dark btn-lg">Form</a>
        </div>
        <div class="col-sm">
          <a href="/settings" class="btn btn-outline-dark btn-lg">Settings</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>