<%- include('partials/base.ejs') %>

<body>
  <div class="container mt-5">
    <div class="row d-flex f-card-deck justify-content-center">
      <div class="col-sm-3 d-flex align-items-stretch">
        <div class="card f-col-2 f-card f-position-relative" onclick="window.location.href='/enrollment'">
          <img class="f-icon" src="/assets/form.svg" alt="" srcset="">
          <div>
            <div class="card-body text-center">
              <h5 class="card-title f-title-font">Form</h5>
              <p class="card-text f-text-color">Access and fill out the enrollment form.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 d-flex align-items-stretch">
        <div class="card f-col-2 f-card f-position-relative" onclick="window.location.href='/settings'">
          <img src="/assets/settings.svg" class="f-icon" alt="" srcset="">
          <div class="card-body text-center">
            <h5 class="card-title f-title-font">Settings</h5>
            <p class="card-text f-text-color">Manage settings and configurations.</p>
          </div>
        </div>
      </div>

    </div>
    <div class="row d-flex f-card-deck justify-content-center my-3">
      <div class="col-sm-3 d-flex align-items-stretch">
        <div class="card f-col-2 f-card f-position-relative" onclick="window.location.href='/search'">
          <img class="f-icon" src="/assets/search.svg" alt="" srcset="">
          <div class="card-body text-center">
            <h5 class="card-title f-title-font">Search</h5>
            <p class="card-text f-text-color">Search through the database for specific records.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 d-flex align-items-stretch">
        <div class="card f-col-2 f-card f-position-relative" onclick="window.location.href='/import'">
          <img class="f-icon" src="/assets/upload.svg" alt="" srcset="">
          <div class="card-body text-center">
            <h5 class="card-title f-title-font f-card-col-1">Import Data</h5>
            <p class="card-text f-text-color">Import data from Excel files into the database.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>

<link rel="stylesheet" href="/css/pages/index.css">

<script src="/js/pages/index.js"></script>
