<%- include ('partials/base.ejs') %>

<body>
  <div class="container mb-5">
    <div id="fValidationNotif2" class="alert alert-info">
      Field is mandatory!
    </div>
    <div id="header-title" class="d-flex justify-content-center my-3">
      <h1 class="center">Detail Information</h1>
    </div>
    <!-- <a href="../index.html">Index</a> -->
    <div class="row d-flex justify-content-left">
      <!-- Form begins here -->
      <form action="" method="post">
        <div class="form-group">
          <h4>Personal Details</h4>
          <!-- Card 1 Details about the person signing up -->
          <div class="row input-group mb-3 card" id="details">
            <!-- Card Body -->
            <div class="card-body px-3 pb-4">
              <div class="my-1">
                <label for="first-name">Full Name</label>
                <input type="text" id="fullName" class="form-control" name="fullName" readonly value="Frank Brano Gomes">
              </div>
              <div class="my-3">
                <label for="middle-name">Nick Name</label>
                <input type="text" id="nickName" class="form-control" name="nickName" placeholder="optional">
              </div>

              <div class="row">
                <div class="col col-sm my-2">
                  <label for="dob" class="py-1">Date Of Birth</label>
                  <input type="date" id="dob" class="form-control" name="dob">
                </div>
                <div class="col col-sm my-2">
                  <label class="py-1" for="statusOfEmployment">Caste</label>
                  <select name="caste" id="caste" class="form-control custom-select">
                    <option value="SC">SC</option>
                    <option selected value="ST">ST</option>
                    <option selected value="OBC">OBC</option>
                    <option selected value="Other">Other</option>
                  </select>
                </div>
                <div class="col col-sm my-2">
                  <label class="py-1" for="religion">Religion</label>
                  <select name="religion" id="religion" class="form-control custom-select">
                    <option value="SC">SC</option>
                    <option selected value="ST">Hindi</option>
                    <option selected value="OBC">Muslim</option>
                    <option selected value="OBC">Christian</option>
                    <option selected value="OBC">Jain</option>
                    <option selected value="OBC">Buddhist</option>
                    <option selected value="Other">Other</option>
                  </select>
                </div>
              </div>

              <div class="mt-2">
                <label class="py-2" for="designation">Designation</label>
                <select name="designation" id="designation" class="form-control custom-select">
                  <option value="CEO">CEO (Chief Executive Officer)</option>
                  <option value="COO">COO (Chief Operating Officer)</option>
                  <option value="CFO">CFO (Chief Financial Officer)</option>
                  <option value="CTO">CTO (Chief Technology Officer)</option>
                  <option value="CMO">CMO (Chief Marketing Officer)</option>
                  <option value="CIO">CIO (Chief Information Officer)</option>
                  <option value="General Manager">General Manager</option>
                  <option value="Department Manager">Department Manager</option>
                  <option value="Project Manager">Project Manager</option>
                  <option value="Team Leader">Team Leader</option>
                  <option value="Supervisor">Supervisor</option>
                  <option value="Software Engineer">Software Engineer</option>
                  <option value="Systems Analyst">Systems Analyst</option>
                  <option value="Network Engineer">Network Engineer</option>
                  <option value="Database Administrator">Database Administrator</option>
                  <option value="Quality Assurance Engineer">Quality Assurance Engineer</option>
                  <option value="DevOps Engineer">DevOps Engineer</option>
                  <option value="Graphic Designer">Graphic Designer</option>
                  <option value="UI/UX Designer">UI/UX Designer</option>
                  <option value="Content Creator">Content Creator</option>
                  <option value="Copywriter">Copywriter</option>
                  <option value="Multimedia Artist">Multimedia Artist</option>
                  <option value="Sales Manager">Sales Manager</option>
                  <option value="Marketing Manager">Marketing Manager</option>
                  <option value="Sales Representative">Sales Representative</option>
                  <option value="Marketing Coordinator">Marketing Coordinator</option>
                  <option value="Business Development Manager">Business Development Manager</option>
                  <option value="Customer Support Manager">Customer Support Manager</option>
                  <option value="Technical Support Specialist">Technical Support Specialist</option>
                  <option value="Customer Success Manager">Customer Success Manager</option>
                  <option value="Help Desk Technician">Help Desk Technician</option>
                  <option value="Administrative Assistant">Administrative Assistant</option>
                  <option value="Office Manager">Office Manager</option>
                  <option value="Human Resources Manager">Human Resources Manager</option>
                  <option value="Executive Assistant">Executive Assistant</option>
                  <option value="Accountant">Accountant</option>
                  <option value="Financial Analyst">Financial Analyst</option>
                  <option value="Accounts Payable/Receivable Clerk">Accounts Payable/Receivable Clerk</option>
                  <option value="Auditor">Auditor</option>
                  <option value="Consultant">Consultant</option>
                  <option value="Advisor">Advisor</option>
                  <option value="Analyst">Analyst</option>
                  <option value="Legal Counsel">Legal Counsel</option>
                  <option value="Compliance Officer">Compliance Officer</option>
                  <option value="Operations Manager">Operations Manager</option>
                  <option value="Logistics Coordinator">Logistics Coordinator</option>
                  <option value="Intern">Intern</option>
                  <option value="Freelancer/Contractor">Freelancer/Contractor</option>
                  <option value="Trainee">Trainee</option>
                </select>
              </div>
              <div class="mt-2">
                <label class="py-2" for="natureOfJob">Nature of Employment</label>
                <select name="nature_of_job" id="natureOfJob" class="form-control custom-select">
                  <option value="Permanent">Permanent</option>
                  <option selected value="Contractual">Contractual</option>
                </select>
              </div>

            </div>
          </div>

          <!-- Card 2 Additional Details -->
          <h4>Additional Details</h4>
          <div class="row input-group mb-3 card">
            <div class="card-body py-3 pb-4">
              <div class="my-3 col-sm">
                <label for="">Name of the Leader who you are regularly in touch with</label>
                <input type="text" id="contactLeaderName" class="form-control" name="contact_leader_name" value="Frank Brano Gomes">
              </div>

              <div class="my-3">
                <label for="familyMemberAttachedWithOrg">If any other family member is attached with any other organization</label>
                <select name="family_member_attached_org" id="familyMemberAttachedWithOrg" class="form-control  custom-select">
                  <option value="Yes">Yes</option>
                  <option selected value="No">No</option>
                </select>
              </div>
              <div class="my-3">
                <!-- Button trigger modal -->
                <!-- Modal -->
                <div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Details</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="card m-2">
                          <div class="card-body">
                            <div id="card-wrapper">
                              <div class="row card-row">
                                <div class="col-sm my-2">
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" id="basic-addon1">Name</span>
                                    </div>
                                    <!-- <label for="">Phone Number</label> -->
                                    <input type="text" class="form-control">
                                  </div>
                                </div>
                                <div class="col-sm my-2">
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" id="basic-addon1">Association</span>
                                    </div>
                                    <!-- <label for="">Phone Number</label> -->
                                    <input type="text" class="form-control">
                                  </div>
                                </div>
                                <div class="col-sm my-2">
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" id="basic-addon1">+91</span>
                                    </div>
                                    <!-- <label for="">Phone Number</label> -->
                                    <input type="tel" class="form-control">
                                  </div>
                                </div>
                                <div class="col-sm my-2">
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" id="basic-addon1">Leadership Role</span>
                                    </div>
                                    <!-- <label for="">Phone Number</label> -->
                                    <select name="leadership_role" id="inLeadershipRole" class="form-control custom-select disabled">
                                      <option value="Yes">Yes</option>
                                      <option selected value="No">No</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="col col-1 my-2">
                                  <div class="row">
                                    <button type="button" id="delButton" class="col col-xs btn btn-danger mx-1 del-field-btn">Delete</button>
                                    <!-- <button type="button" id="removeButton" class="col col-xs btn btn-danger mx-1">Delete</button> -->
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->

                        <button class="btn btn-success">Save</button>
                        <button type="button" id="addButton" class="btn btn-primary mx-1 add-field-btn">Add</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Employment Section -->
          <h4>Employment</h4>
          <div class="row input-group mb-3 card">
            <div class="card-body py-3 pb-4">
              <div class="my-3 col-sm">
                <label for="">Association Name</label>
                <select name="associationName" id="associationName" class="form-control  custom-select">
                  <option value="Kalimpong Association">Kalimpong Association</option>
                  <option value="Darjeeling Association">Darjeeling Association</option>
                  <option value="Kurseong Association">Kurseong Association</option>
                  <option value="Sano Thimi Association">Sano Thimi Association</option>
                </select>
              </div>
              <div class="my-3 col-sm">
                <label class="py-2" for="statusOfEmployment">Status of Employment</label>
                <select name="statusOfEmployment" id="statusOfEmployment" class="form-control custom-select disabled">
                  <option value="Working">Working</option>
                  <option selected value="Retired">Retired</option>
                </select>
              </div>

              <div class="my-3" id="dateOfJoining">
                <label for="dateOfJoining">Date Of Joining</label>
                <input type="date" id="dateOfJoining" class="form-control" name="dob">
              </div>

              <div class="card-body py-3 pb-4" id="retiredSection">
                <div class="my-3 col-sm">
                  <label for="">During service whether you have taken membership of any other opposition?</label>
                  <select name="oppositionMembership" id="oppositionMembership" class="form-control  custom-select f-disabled-class-question">
                    <option value="Yes">Yes</option>
                    <option selected value="No">No</option>
                  </select>
                </div>
                <div class="my-3 col-sm">
                  <label for="">Whether the Trade Union Right existed at the time of your service?</label>
                  <select name="oppositionMembership" id="oppositionMembership" class="form-control  custom-select f-disabled-class-question">
                    <option value="Yes">Yes</option>
                    <option selected value="No">No</option>
                  </select>
                </div>
                <div class="my-3 col-sm">
                  <label for="">Whether you played any leadership role at the time of your service?</label>
                  <select name="has_played_leadership_role" id="hasPlayedLeadershipRole" class="form-control  custom-select f-disabled-class-question">
                    <option value="Yes">Yes</option>
                    <option selected value="No">No</option>
                  </select>
                </div>
                <div class="my-3 col-sm alert" id="whichStageWrapper" class="f-hidden">
                  <label for="">If yes at Which stage?</label>
                  <select name="which_stage" id="whichStage" class="form-control custom-select f-disabled-class-question">
                    <option value="Yes">SCC</option>
                    <option value="No">Samiti</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <!-- Residential Address Section copied from previous form -->
          <h4>Residential Address</h4>
          <div class="my-3" id="residentialAddress">
            <div class="row card input-group mb-3 py-3 px-3">
              <div class="row card-body" id="f-ra-p1">
                <!--frank residetial address part 1-->
                <div class="col-sm">
                  <label for="districtName">
                    District
                  </label>
                  <select name="district" id="districtName" class="form-control mx-3 custom-select">
                    <option value="KPG">Kalimpong</option>
                    <option value="DRJ">Darjeeling</option>
                    <option value="KUR">Kurseong</option>
                    <option value="TIM">Sano Thimi</option>
                  </select>
                </div>
                <div class="col-sm">
                  <label for="municipalityName">
                    Municipality
                  </label>
                  <select name="municipality" id="municipalityName" class="mx-3 form-control custom-select">
                    <option value="Pudung">Pudung</option>
                    <option value="Pedong">Pedong</option>
                    <option value="Eagles Den">Eagles Den</option>
                    <option value="Thimi">Thimi</option>
                  </select>
                </div>
                <div class="col-sm">
                  <label for="blockName">
                    Block
                  </label>
                  <select name="block" id="blockName" class="form-control mx-3 custom-select">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </div>
                <div class="col-sm">
                  <label for="gp">
                    Gram Panchayat
                  </label>
                  <select name="gp" id="gp" class="form-control mx-3 custom-select">
                    <option value="P1">P1</option>
                    <option value="P2">P2</option>
                    <option value="P3">P3</option>
                    <option value="P4">P4</option>
                  </select>
                </div>
                <div class="col-sm">
                  <label for="villlageName">
                    Village/Para/Ward Number
                  </label>
                  <input type="text" name="village" id="villageName" class="form-control mx-3">
                </div>
              </div>
              <div class="row card-body" id="f-ra-p2">
                <div class="col-sm">
                  <label for="landMark">
                    Landmark
                  </label>
                  <input type="text" name="Landmark" id="landMark" class="form-control">
                </div>
              </div>
              <div class="row card-body" id="f-ra-p3">
                <div class="col-sm">
                  <label for="remarksContent">
                    Remarks
                  </label>
                  <textarea name="remarks" id="remarksContent" class="form-control"></textarea>
                </div>
              </div>
            </div>
          </div>


        </div>
        <button type="submit" class="btn btn-warning rounded">Next Page</button>
      </form>
    </div>
  </div>

</body>
<style>
  .f-error {
    display: block;
    border: 1px solid red;
  }

  .f-hidden {
    opacity: 0;
    /* Set initial opacity to 0 */
    display: none;
    transition: opacity 2s ease;
    /* Add transition for opacity property */
  }

  /* Visible state */
  .f-visible {
    opacity: 1;
    /* Set opacity to 1 */
    display: block;
    /* Make sure the element is displayed */
  }
</style>

</html>
<script>
  $(document).ready(function() {
    var alert = $('#fValidationNotif2');
    alert.addClass('f-hidden');
    $('#firstName').blur(function() {
      var firstName = $(this).val();
      if (firstName === "") {
        $(this).addClass('f-error');
        alert.removeClass('f-hidden');
      } else {
        $(this).removeClass('f-error');
        alert.addClass('f-hidden');
      }
    })

    // Disable or Enable other question based on status of employment
    var retiredSection = $('#retiredSection');
    var dateOfJoining = $('#dateOfJoining');
    $('#statusOfEmployment').change(function() {
      var status = $(this).val();
      if (status === 'Working') {
        console.log('working');
        retiredSection.addClass('f-hidden');
        dateOfJoining.removeClass('f-hidden');
      } else {
        console.log('retired');
        retiredSection.removeClass('f-hidden');
        dateOfJoining.addClass('f-hidden');
      }
    });

    var leadershipRoleProp = $('#hasPlayedLeadershipRole');
    var followUpQuestion = $('#whichStageWrapper');
    leadershipRoleProp.change(function() {
      var answer = $(this).val();
      if (answer === 'Yes') {
        followUpQuestion.removeClass('f-hidden').addClass('f-visible');
      } else {
        followUpQuestion.addClass('f-hidden').removeClass('f-visible');
      }
    })

    // show modal when member attached is yes
    var modal = $('#myModal');
    var memberAttached = $('#familyMemberAttachedWithOrg');
    memberAttached.change(function() {
      var attached = $(this).val();
      if (attached === 'Yes') {
        modal.modal('show');
      }
    })

    // add member and association specific detail fields in modal when clicked on add
    var cardWrapper = $('#card-wrapper');
    var addBtn = $('.add-field-btn');
    addBtn.click(function() {
      console.log('clicked add')
      cardWrapper.append(`<div class="row card-row">
          <div class="col-sm my-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Name</span>
              </div>
              <!-- <label for="">Phone Number</label> -->
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-sm my-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Association</span>
              </div>
              <!-- <label for="">Phone Number</label> -->
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-sm my-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">+91</span>
              </div>
              <!-- <label for="">Phone Number</label> -->
              <input type="tel" class="form-control">
            </div>
          </div>
          <div class="col-sm my-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Leadership Role</span>
              </div>
              <select name="leadership_role" id="inLeadershipRole" class="form-control custom-select disabled">
                <option value="Yes">Yes</option>
                <option selected value="No">No</option>
              </select>
            </div>
          </div>
          <div class="col-1 my-2">
            <div class="row">
              <button type="button" id="delButton" class="col col-xs btn btn-danger mx-1 del-field-btn">Delete</button>
              <!-- <button type="button" id="removeButton" class="col col-xs btn btn-danger mx-1">Delete</button> -->
            </div>
          </div>
          </div>`)
      checkIfEmpty();
    })

    // delete button
    cardWrapper.on('click', '.del-field-btn', function(e) {
      e.preventDefault();
      console.log('DelClicked');
      $(this).closest('.card-row').remove();
      checkIfEmpty();
    });

    // check if card-row is empty
    function checkIfEmpty() {
      console.log('If Empty');
      if (cardWrapper.children('.card-row').length <= 0) {
        cardWrapper.append('<div id="empty-message" class="text-center">Its Empty!</div>')
      } else {
        $('#empty-message').remove();
      }
    }
  })
</script>