<%- include('partials/base.ejs') %>

<body>
  <div class="container mb-5">
    <div class="d-flex justify-content-center my-3">
      <h1>Success!</h1>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-sm-8 text-center">
        <div class="alert alert-success">
          <p>Your response has been submitted successfully.</p>
        </div>
        <a href="/" class="btn btn-primary">Go Back to Search</a>
      </div>
    </div>
  </div>
</body>
</html>
