#header-title {
    background-color: #832BCF;
    font-size: 1.5rem;
    height: 100px;
    align-items: center;
}

.f-title {
    font-size: 2rem;
    color: #f5f5f4;
}

.f-txt-col-1 {
    color: #753EA5
}

.f-col-1 {
    background-color: #832BCF;
}

.f-col-2 {
    background-color: #753EA5;
}

.f-col-3 {
    background-color: #8B0BFB;
}

.f-col-4 {
    background-color: #60427A;
}

.f-error {
    display: block;
    border: 1px solid red;
}

.f-hidden {
    display: none;
}