#header-title {
    background-color: #832BCF;
    font-size: 1.5rem;
    height: 100px;
    align-items: center;
    border-radius: 4%;
}

.f-title {
    font-size: 2rem;
    color: #f5f5f4;
}

.f-error {
    display: block;
    border: 1px solid red;
}

.f-hidden {
    display: none;
}

.f-txt-col-1 {
    color: #753EA5
}