.form-group {
    margin-bottom: 1rem;
}

#header-title {
    background-color: #832BCF;
    font-size: 1.5rem;
    height: 100px;
    align-items: center;
}

.f-title {
    font-size: 2rem;
    color: #f5f5f4;
}

.f-btn-col-1 {
    background-color: #8b0bfb;
}

.f-btn-col-danger {
    background-color: #c6600c;
}